
/*********
 * class *
 *********/
.frame
{
	margin: 10px 5px;
	padding: 10px 5px;
	border:solid 2px;
	border-color: silver;
	border-radius: 4px;
	background-color: #FFFFEE;
	color: indigo;
}

.box
{
	width: 1280px;
	height: 720px;
}

/******
 * id *
 ******/
#mainArea
{
	background-color: lightcyan;
	align-content: center;
	margin: auto;
}

#titleBox
{
	text-align: center;
	align-items: center;
}

#titleLetter
{
	top: 0px;
	position: absolute;
}

#typingArea
{
	padding: 20px 150px;
}

#score
{
	color: forestgreen;
	font-size: 20px;
}

#miss
{
	color: mediumvioletred;
	font-size: 20px;
}

#target
{
	font-size: 30px;
}

#resultBox
{
	visibility: hidden;
}